<h3>DivisionStandings</h3>

@code {
    [Parameter]
    public string Conference { get; set; }
    [Parameter]
    public string Division { get; set; }
    [Parameter]
    public int Season { get; set; }
}